body {
    background-color: white;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.fruta, .acertada {
    width: 20vw;
    height: 20vw;
    max-height: 200px;
    max-width: 200px;
    border-radius: 4vw;
    border: solid #000000 0.05vw;
    margin-right: 0.25vw;
    margin-bottom: 0.25vw   ;
}

.titulo {
    margin-top: 1.5vw;
    text-align: center;
    font-size:  3.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.minifruta {
    width: 3vw;
    height: 3vw;
    border-radius: 1.5vw;
    border: solid #000000 0.05vw;
    pointer-events: none;
}

#tablero{
    margin: auto;
    width: 84vw;
    max-width: 830px;
    display: flex;
    flex-wrap: wrap;
}

.victoria{
    margin-top: 1.5vw;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: chartreuse;
}