body {
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 3.5vw;
}

h2 {
    font-size: 1.8vw;
}

#tablero {
    margin: auto;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#tablero>button {
    width: 90px;
    height: 90px;
    font-size: 5vw;
    margin: 2px;
    border-radius: 10px;
    background-color: #333;
    border: 2px solid white;
    color: #FFFFFF;
}

#textoVictoria {
    visibility: hidden;
    color: seagreen;
}

#reiniciar {
    font-size: 1.5vw;
    color: black;
    background-color: seagreen;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#reiniciar:hover {
    background-color: #4CAF50;
}