button {
    border-radius: 4px;
    text-shadow: 1px 1px 15px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 6vw;
    padding: 7vw 8vw;
    background: cornflowerblue;
    border: solid #000000 1px;
    text-decoration: none;
    width: 100%;
}

input {
    border-radius: 4px;
    font-family: Arial;
    color: black;
    font-size: 8vw;
    font-weight: bold;
    padding: 7vw 8vw;
    background: cornflowerblue;
    border: solid #000000 1px;
    text-decoration: none;
    width: 100%;
    text-align: right;
}

.calculadora {
    display: block;
    background-color: lightsteelblue;
    width: 22.5vw;
    height: 24.5vw;
    border-radius: 1.5vw;
}
