@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
body {
    background-color: black;
    color: white;
    font-family: 'Maven Pro' !important;
    background-image: url("../img/fondo.jpg");
    background-position: center;
    background-repeat: repeat-y;
    background-size: contain;
    /* max-width: 100%; */
}

#Inicio{
    align-items: center;
    text-align: center;
    width: 480px;
    margin: auto;
    max-width: 100%;
    flex-wrap: wrap;
}

#Inicio>p{
    align-items: center;
    text-align: center;
}

#cabeceraInicio {
    align-items: center;
    text-align: center;
    font-size: 1.8em ;
}

#cabeceraNombre {
    color: black;
    font-size: 2.8em;
    margin-bottom: 20px;
    font-weight: bold;
}

#cabeceraTexto {
    color: black;
    font-size: 1.4em;
    margin-bottom: 20px;
}

.titulo {
    align-items: center;
    text-align: center;
    font-size: 2.8em;
    font-weight: bold;
    margin-bottom: 40px;
}

#Curriculum {
    margin-top: 200px;
}

#Curriculum > img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;
}

#Portfolio{
    margin-top: 100px;
    margin-bottom: 100px;
}

.apps{
    margin-bottom: 20px;
    overflow: hidden;
    align-items: center;
}

.apps>a{
    max-width: 100%;
    cursor: pointer;
}

.apps>a>img{
    border-radius: 25px;
    border: solid #000000 1px;
    /* width: 200px; */
    max-width: 100%;
    height: auto;
}

#Contacto{
    margin-top: 100px;
    align-items: center;
    text-align: center;
    width: 500px;
    margin: auto;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 100px;
    height: 500px;
}

#Contacto > a > img {
    height: 150px;
}

.embed-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
    min-height: 600px;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#closeModal{
    font-size: 40px;
    box-sizing: inherit;
    opacity: 1;
    border: solid #000000 1px;
    margin-right: 20px;
    margin-left: auto;
}

.containerApps{
    margin: auto;
    width: 400px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.espacio{
    height: 100px;
}