@import url("https://fonts.googleapis.com/css?family=Maven+Pro");
body {
    font-family: 'Maven Pro' !important;
    background-color: white !important;
}

#Inicio {
    text-align: center;
}

#Inicio>img {
    height: 35vw;
    min-height: 200px;
    max-height: 400px;
}

.titulo {
    text-align: center;
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 40px;
}

#resume {
    margin-top: 100px;
}

.resume-icon {
    margin-bottom: 40px;
    text-align: center;
}

.resume-icon li:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.resume-icon li {
    display: inline-block;
    padding: 10px 30px;
    background: #444;
    color: #fff;
    border-radius: 30px;
    margin: 0 -2px;
    cursor: pointer;
    width: 150px;
}

.resume-icon li:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.resume-icon .active {
    background: #121212;
}

* {
    margin: 0;
    text-decoration: none !important;
    list-style: none !important;
}

@media screen and (min-width: 400px) {
    .resume-content {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 600px) {
    .resume-content {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 1000px) {
    .resume-content {
        padding-left: 15%;
        padding-right: 15%;
    }
}

@media screen and (min-width: 1350px) {
    .resume-content {
        padding-left: 25%;
        padding-right: 20%;
    }
}

.resume-content li {
    border-left: 1px solid #d2e8fff5;
    padding-left: 35px;
    padding-bottom: 40px;
    position: relative;
}

.resume-content li:after {
    content: "";
    position: absolute;
    top: 6px;
    left: -6px;
    width: 10px;
    height: 10px;
    background: #468fdd;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: #468fdd;
    border-radius: 50%;
}

.resume-content li h6 {
    margin-bottom: 10px;
}

.sm-title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    font-weight: bold;
}

.resume-content li .date {
    font-size: 18px;
    color: #468fdd;
    margin-bottom: 15px;
    font-weight: bold;
}

.resume-content li p {
    line-height: 1.8;
    margin: 0;
    font-size: 16px;
    color: #7e7e7e;
    font-weight: bold;
}

#Portfolio{
    margin-top: 100px;
}

#Contacto{
    margin-top: 140px;
    text-align: center;
    width: auto;
    height: 200px;
}

#Contacto > a > img {
    height: 50px;
}

#modalApp{
    max-height: 1000px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.embed-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    min-height: 1000px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.embed-container > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#closeModal{
    font-size: 40px;
    box-sizing: inherit;
    opacity: 1;
    border: solid #000000 1px;
    margin-right: 20px;
    margin-left: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.containerApps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.cardWrap {

    transform: perspective(1000px);
    transform-style: preserve-3d;
    cursor: pointer;
}

.cardWrap:hover .cardInfo {
    transform: translateY(0);
}

.cardWrap:hover .cardInfo p {
    opacity: 1;
}

.cardWrap:hover .cardInfo,
.cardWrap:hover .cardInfo p {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardWrap:hover .cardBg {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardWrap:hover .card {
    transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
        box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px,
        rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px,
        inset white 0 0 0 6px;
}

.card {
    position: relative;
    width: 320px;
    height: 320px;
    background-color: #333;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px,
        inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cardBg {
    opacity: 0.6;
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
        opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    pointer-events: none;
}

.cardInfo {
    width: 280px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    color: #fff;
    transform: translateY(25%);
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo p {
    opacity: 0;
    text-shadow: black 0 2px 3px;
    transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo * {
    position: relative;
    z-index: 1;
}

.cardInfo h3 {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0px 0px 2px #111;
}